.booking_info{
    background-color: darkcyan;
    border: 1;
    color:black;
    font-size: large;
}
.booking_detail{
    background-color: darkcyan;
    border: 1;
    color:black;
    font-size: large;
}