<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" routerLink="/" style="color: magenta;">Jain Veg Hotel</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="room-booking-request">Room Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="feedback" data-toggle="modal" data-target="#myModal">Feedback</a>
            </li>
            <li class="nav-item" *ngIf="!user_info">
                <a class="nav-link" routerLink="auth">Login</a>
            </li>
            <li class="nav-item" *ngIf="user_info">
                <a class="nav-link" routerLink="logout">Logout</a>
            </li>
        </ul>
        </div>
</nav>
<div class="page_container">
<router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="row">
        <div class="col-sm-4 pl-4">
            <p>This site is for the testing purpose so do not use it as a commercial site and read all document before registration!!</p>
            <h3>Please subscribe for Latest update</h3>
            <form [formGroup]="subscribeForm" (ngSubmit)="getSubscribe(subscribeForm)">
            <input type="text"  formControlName="email" placeholder="Email" class="form-control"/>
        <button type="submit" class="btn btn-danger mt-2">Subscribe</button>
            </form>
        </div>
        <div class="col-sm-4">
            <h4 class="text-center mt-4 mb-4">Contact Information</h4>
            <table>
                <tr>
                    <td class="contact_tab">Email</td>
                    <td class="contact_tab">contact@tajhotel.com</td>
                </tr>
                <tr>
                    <td class="contact_tab">Contact</td>
                    <td class="contact_tab">98730-68112</td>
                </tr>
                <tr>
                    <td class="contact_tab">Address-</td>
                    <td class="contact_tab">Palm Olampia, Greater Noida-201301</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="social_icon"><i class="fab fa-facebook-messenger"></i></div>
            <div class="social_icon"><i class="fab fa-whatsapp"></i></div>
            <div class="social_icon"><i class="fab fa-instagram-square"></i></div>
            <div class="social_icon"><i class="fab fa-tiktok"></i></div>
        </div>
    </div>
</div>
